body {
  margin-top: 95px;
  background-image: url(../img/background_artiiste.jpg);
}

.topbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  background-repeat: no-repeat;
  background-size: 100% 50%; 
}

.navbar {
  border-bottom: #009688 2px solid; 
}

hr {
  width: 25%;
  background-color: #ccc; 
}

.breadcrumb {
  background-color: #fff; 
}

.card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow; 
}

#reunion-section .list-group-item {
  width: 180px; 
}


.mobile{
  background: #42C779;
}
