
  .navbar {
    border-bottom: #330033 2px solid; 
  }

  #logo_artiste{
    color: #330033;
  }

  #main_nav{
    background-color: rgba(210, 201, 219, 0.979);
  }

  #foot_profil{

    background-color:  rgba(210, 201, 219, 0.979);
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #330033;
    text-align: center;
    text-decoration-color: #330033;
  }

  hr {
    width: 25%;
    background-color: #ccc; 
  }
  
  #head-users{
    background-color: rgb(40, 3, 65);
    color: azure; 
  }